{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="success-box">
        <h2>Student Added Successfully!</h2>
        <p>Your student record has been saved successfully.</p>

        <div class="top-buttons">
            <a href="/form/" class="main-btn">Add Another Student</a>
            <a href="/students/" class="main-btn">View Students</a>
            <a href="/home/" class="main-btn">Back to Home</a>
        </div>
    </div>
</body>
</html>